body { margin: 0; }

@media print {
    .page { height: 100%; margin: 0; padding: 0; }
    .fill { width: 100%; height: 100%; }
}
@media screen {
    .page { margin: 1em; padding: 2em; border: 1px solid gray; }
    .fill { }
}
.page { position: relative; }
.fill td { font-size: 150%; }
.bottomright { position: absolute; bottom: 0em; right: 0em; text-align: right; }
.topleft { position: absolute; top: 1em; left: 1em; }

.page > h1 { font-size: 400%; margin: 0 0 0.5em 0; padding: 0.2em; background: #8888ff; }
.page > h2 { font-size: 350%; margin: 0 0 0.5em 0; padding: 0.2em; border-bottom: solid 0.1em #000080; }
.page > table { font-size: 300%; font-weight: bold; }
.page > div { font-size: 250%; font-weight: bold; margin: 0.5em 1em 0.5em 1em; line-height: 150%; }
.page > ul { font-size: 250%; font-weight: bold; margin: 0.5em 1em 0.5em 1em; }
.page > ol { font-size: 250%; font-weight: bold; margin: 0.5em 1em 0.5em 1em; }
.page > p { font-size: 250%; font-weight: bold; margin: 1em 1em; }

li { line-height: 150%; }
pre { line-height: 120%; margin: 0.5em; font-family: monospace; text-align: left; }
table { border-collapse: collapse; }
